:root {
    --purp1: #4B0365 !important;
    --purp2: #600581 !important;
    --purp3: #7c08a6 !important;
    --purp4: #8a2cac !important;
    --purp5: #a04ebd !important;
}
div{
    font-family: "Parkinsans", sans-serif;
}
#capstone-app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#banner{
    display: flex;
    flex-basis: 100%;
    max-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--purp3);
}
#banner>.logo{
    flex-basis: 20%;
    align-self: center;
}
#banner>.title{
    display: flex;
    flex-direction: column;
}
#banner>.title>h1{
    margin: 0px;
    flex-basis: 100%;
    color: white;
}
#banner>.log{
    background-color: var(--purp2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid white;
}
#banner>.log>a{
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: white;
    padding: 0px 20px 0px 20px;
}
#banner>.log>a:hover{
    text-decoration: underline;
    color: var(--purp5);
}
#banner>.title{
    color: white;
    flex-grow: 10;
    text-align: center;
}

#nav{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    align-items: center;
    border-right: 1px solid var(--purp3);
}
#nav>a{
    height: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid var(--purp1);
    color: var(--purp3);
    text-decoration: none;
}
#nav>a:hover{
    text-decoration: underline;
}
.spacer{
    flex-grow: 100;
}
#nav>#about{
 border-top: 1px solid var(--purp3);
}
div.container{
    flex-basis: 85%;
    display: flex;
}
.container#admin-page{
    flex-direction: column;
}
.admin-form {
    border: 1px solid var(--purp3);
    background-color: var(--purp5);
    border-radius: 10px;
    display: flex;
    align-self: center;
    padding: 10px;
}
.admin-form#add{
    width: fit-content;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px;
    padding: 10px;
}
.admin-form#edit{
    flex-direction: row;
    flex-wrap: wrap;
}
.admin-form#edit>h2{
    flex-basis: 100%;
    height: fit-content;
}

.admin-form>h2{
    color: white;
    text-align: center;
}
.admin-form>a{
    color: white;
    text-decoration: none;
}

#admin-page > div> form > div.traits > div > div > ul > li > a{
    color: white;
    text-decoration: none;
}
#admin-page > div> form > div.traits > div > div > ul > li:hover{
    background-color: var(--purp3);
}
.listbox>ul{
    padding: 0px;
}




.listbox>ul>li{
    height: 10px;
}

#edit > form > div.breed{
    flex-basis: 100%;
}
