:root {
    --purp1: #4B0365 !important;
    --purp2: #600581 !important;
    --purp3: #7c08a6 !important;
    --purp4: #8a2cac !important;
    --purp5: #a04ebd !important;
}
html, body {
    height: fit-content;
    background-image:url("../src/assets/site-background.png");
}
div{
    font-family: "Parkinsans", sans-serif;
}
#capstone-app{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
/*BANNER*/
}
#banner{
    display: flex;
    flex-basis: 100%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--purp3);
}
#banner>.logo>img{
    align-self: center;
    max-height: 10vh;
}
#banner>.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner>.title>h1{
    font-size:60px;
    color: white;
}
#banner>.log{
    background-color: var(--purp2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid white;
}
#banner>.log>a{
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: white;
    padding: 0px 20px 0px 20px;
}
#banner>.log>a:hover{
    text-decoration: underline;
    color: var(--purp5);
}
#banner>.title{
    color: white;
    flex-grow: 10;
    text-align: center;
}
/*NAV*/
#nav{background-color: white;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    border-right: 1px solid var(--purp3);
}
#nav>a{
    height: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid var(--purp1);
    border-left: 1px solid var(--purp3);
    color: var(--purp3);
    text-decoration: none;

}
#nav>a:hover{
    text-decoration: underline;
}
.spacer{
    min-width: 15vw;
    flex-grow: 100;
}
#nav>#about{
 border-top: 1px solid var(--purp3);
}
/*THE MAIN APP*/
div.container{
    flex-basis: 85%;
    display: flex;
}
/*THE ADMIN PAGE*/
.container#admin-page{
    flex-direction: column;
    flex-wrap: nowrap;
}
/*THE BOXES ON ADMIN PAGE*/
.admin-box {
    flex-basis: 85%;
    flex-grow: 1;
    border: 1px solid var(--purp3);
    background-color: var(--purp5);
    border-radius: 20px;
    display: flex;
    align-self: center;
    padding: 10px;
    margin: 20px
}
.admin-box>h2{
    color: white;
    text-align: center;
}

.admin-box#add{
    transition: 1.5s ease;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px;
    padding: 10px;
}
.admin-box#edit{
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
}
.admin-box#edit>h2{
    flex-basis: 100%;
    height: fit-content;
}
div.trait-switcher{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
div.trait-switcher>div.spacer{
    background-color: var(--purp5);
}
div.trait-picker{
    background-color: var(--purp5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 20px;
    align-self: center;
    padding: 10px;
    margin: 20px
}
.admin-box#edit>form.breed>div.trait-switcher>.switch-buttons{
    display: flex;
    flex-shrink: 2;
}
.admin-box#delete{
    flex-direction: row;
    flex-wrap: wrap;
}
.admin-box#delete>h2{
    flex-basis: 100%;
}
div.trait-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    padding: 10px;
    background-color: var(--purp4);
    border-radius: 20px;
}
div.trait-list>h3{
    color: white;
    text-align: center;
}
div.trait-list>ul{
    background-color: var(--purp4);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
div.trait-list>ul>li{
    text-align: center;
     border-bottom: 1px solid white;
     padding: 4px 10px 4px 10px;
    width: 100%;
    border-radius: 5px;
}
 div.trait-list>ul>li:hover{
     background-image: linear-gradient(to left, var(--purp2), var(--purp5));
     cursor: pointer;
 }
div.trait-list>ul>li.selected {
    background-color: var(--purp2);
}
div.trait-list>ul>li{
    color: white;
    text-decoration: none;
}







div.swiper{
    border-radius: 20px;
    padding: 20px;
    margin:20px;
    display: flex;
    flex-direction: row;
    background-color:rgba(124,8,166,0.2);
    max-width: 85%;
}
div.swipe{
    border: 1px solid var(--purp3);
    border-radius: 20px;
    width: 150px;
}
div.card{
    border-radius: 20px;
}

div.zcurrent-dog:hover{
    cursor: grab;
}
div.zcurrent-dog:active{
    transition: ease 0.4s;
    user-select: none;
    cursor: grabbing;
    transform: rotate(7deg) translate(-200px,0px);
}

div.swipe-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}
div.swiper>div.current-dog{

}
